@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');



body{
    margin:0;
    padding:0;
    overflow-x:hidden;
 }

.section1{
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
}
.main-img{
    position: relative;
    width: 35%;
    height:100vh;
    z-index: 1;
}
.main-logo{
    position: relative;
    width: 9%;
    height: auto;
    right:34%;
    bottom: 50%;
    z-index: 2;
}
.logo-p{
    position: relative;
    font-family: 'Genos', sans-serif;
    font-size: 6em;
    left:13%;
    bottom: 90%;
    color: white;
    z-index: 2;
}
@media screen and (max-width: 1024px) and (min-width:1010px) {
    .logo-p {
        bottom: 88%;
        font-size: 5em;
        left: 11%;
        
    }
}

@media screen and (max-width: 1450px) and (min-width:1430px) {
    .logo-p {
        bottom: 87%;
        font-size: 7em;
        left: 11%;
        
    }
}
@media screen and (min-width: 1900px) and (min-height: 900px) {
    .logo-p {
        font-size: 11em;
        bottom: 95%;
        left:10%;
    }
}


.section2{
    position: relative;
    margin:0;
    padding:0;
    width:70%;
    background-color: #F5F5F5;
    left: 35%;
    bottom:615px;
    padding:50px;
}
ul li{
    list-style: none;
    font-family: 'Overlock SC', sans-serif;
    font-size: 25px;}

@media screen and (min-width:1020px) and (max-width:1030px){
    .section2{
        position: relative;
        margin:0;
        padding:0;
        width:70%;
        left: 35%;
        bottom:528px;
        padding:50px;
    }
}
@media screen and (min-width:1430px) and (min-height:1500px){
    .section2{
        position: relative;
        margin:0;
        padding:0;
        width:70%;
        left: 35%;
        bottom:734px;
        padding:70px;
    }
}
.section3{
    margin: 0;
    padding: 0;
    position: relative;
    left:42%;
    bottom:600px;
    border-top:1px solid #F5F5F5;
    border-bottom:1px solid #F5F5F5;
}
.disc{
    font-family: 'Sarabun', sans-serif;
}
.form-row {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.input-box {
    flex:1;
    margin-right: 1px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Sarabun', sans-serif;
}

input {
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border:none;
    border-bottom: 1px solid black;
}
@media screen and (min-width:1010px) and (max-width:1030px){
    .section3{
        margin: 0;
        padding: 0;
        position: relative;
        left:42%;
        border-top:1px solid #F5F5F5;
        border-bottom:1px solid #F5F5F5;
    }
   
}
@media screen and (min-width:1430px) and (max-width:1450px){
    .section3{
        bottom:700px;
    }
}
.section4{
    margin: 0;
    padding: 0;
    position: relative;
    left:42%;
    bottom:570px;
}
button{
    box-shadow: 0px 2px 2px 0px;
    font-family: 'Sarabun', sans-serif;
    background-color: #80ad56 ;
    border-radius: 15px;
    padding:10px;
    width:14%;
    font-size: 1em;
    color:white;
}
button:hover{
    color:black;
}
.log-in{
    font-family: 'Sarabun', sans-serif;
}
a{
    color:#80ad56;
}
@media screen and (min-width:1900px) and (min-height:900px){
    .section2{
        bottom:920px;
    }
    .section3{
        bottom:850px;
        border:none;
    }
    .section4{
        bottom: 750px;
    }

}

