@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

 body{
    margin:0;
    padding:0;
    overflow-x:hidden;
 }

.section1{
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
}
.main-img{
    position: relative;
    width: 35%;
    height:100vh;
    z-index: 1;
}
.main-logo{
    position: relative;
    width: 9%;
    height: auto;
    right:34%;
    bottom: 50%;
    z-index: 2;
}
.logo-p{
    position: relative;
    font-family: 'Genos', sans-serif;
    font-size: 6em;
    left:13%;
    bottom: 90%;
    color: white;
    z-index: 2;
}
@media screen and (max-width: 1024px) and (min-width:1010px) {
    .logo-p {
        bottom: 88%;
        font-size: 5em;
        left: 11%;
    }
}

@media screen and (max-width: 1450px) and (min-width:1430px) {
    .logo-p {
        bottom: 87%;
        font-size: 7em;
        left: 11%;
    }
}
@media screen and (min-width: 2400px) and (max-width:2715px){
    .logo-p{
        font-size:11em;
        bottom:87%;
        font-size: 12em;
    }
}


.section2{
    position: relative;
    margin:0;
    padding:0;
    width:70%;
    background-color: #F5F5F5;
    left: 35%;
    bottom:615px;
    padding:50px;
}
@media screen and (min-width:1020px) and (max-width:1030px){
    .section2{
        position: relative;
        margin:0;
        padding:0;
        width:70%;
        left: 35%;
        bottom:528px;
        padding:50px;
    }
}
@media screen and (min-width:1430px) and (max-width:1450px){
    .section2{
        position: relative;
        margin:0;
        padding:0;
        width:70%;
        left: 35%;
        bottom:734px;
        padding:70px;
    }
}

ul li{
    list-style: none;
    font-family: 'Overlock SC', sans-serif;
    font-size: 25px;
}